<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}

    <h4>Completed projects:</h4>
    <p>{{projects}}</p>

    {{> footer}}
  </body>
</html>
